@{
    var id = (int)ViewData["bookId"];
}

<br />
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">

            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="1">Book 1: Spikeballs</a>
            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="2">Book 2: Meatballs</a>
            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="3">Book 3: Bouncyballs</a>
            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="4">Book 4: Timeballs</a>
        </div>

    </div>
    <hr />
    @if (id == 1)
    {
        <div>My nephew asked for a comic book. All blank left pages were intentionally left blank. <br />
            <a href="https://youtu.be/xBbb64CkdiU">Here is a video of the design process</a>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd01.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd03.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd04.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd05.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd06.jpg" />
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd08.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd07.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd09.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd10.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd11.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd12.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd13.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd14.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd15.jpg" />
            </div>
        </div>        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd16.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd17.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd21.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd18.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd19.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book1/rd20.jpg" />
            </div>
        </div>


    }
    else if (id == 2)
    {
        <div>
            My nephew asked for another book. <br />
            <a href="https://youtu.be/JvgyjVuygyU">Here is a video of the design process</a>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00001.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00003.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00004.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00005.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00006.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00007.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00008.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00009.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00010.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00011.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00012.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00013.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00014.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00015.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00016.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00017.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00018.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00019.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00020.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00021.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00022.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00023.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00024.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00025.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00026.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00027.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00028.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00029.jpg" />
            </div>
            <div class="col-6">
                <img class="img-fluid" src="~/img/redmans/book2/repr_00030.jpg" />
            </div>
        </div>
    }
    else if (id == 3)
    {
        <div>
            He turned 8. Book inspired by the movies Dodgeball and Spacejam. <br />
            <a href="https://youtu.be/f88TBxbhUl8">Here is a video of the design process</a>
        </div>
        
        for( int i = 0; i < 55; i++)
        {
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="~/img/redmans/book3/r3p@(i).jpg" />
                </div>
            @{ i++; }
                <div class="col-6">
                    <img class="img-fluid" src="~/img/redmans/book3/r3p@(i).jpg" />
                </div>
            </div>
        }
    }
    else
    {
        <div class="row"> I aint write it yet.</div>
    }

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">

            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="1">Book 1: Spikeballs</a>
            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="2">Book 2: Meatballs</a>
            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="3">Book 3: Bouncyballs</a>
            <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index" asp-route-id="4">Book 4: Timeballs</a>
        </div>
    </div>

</div>