@using lets_do_a_website.Data;
@using lets_do_a_website.Data.Entities;

@model WTDRepo

This page is so I can look at the memory useage of the website. It's very advanced stuff. Don't look at it it's not for you

<br />



Active trackers:
@{
    IEnumerable<Tracker> trackers = Model.GetAllTrackers();
}


<div class="container">

@foreach (var t in trackers)
{
    var deaths = t.DataBits;
    var deathCount = t.DeathCount();
    
    <div class="row">
        <div class="col-2">@t.Id</div>
        <div class ="col-2">@t.LastUsed</div>
        <div class ="col-1">@deathCount</div>
        <div class ="col">@deaths</div>
    </div>
}
</div>
