@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To my internet</a>.</p>
</div>
<br /><br />
<div id="AllTheLinksFitToMuck" class="container d-grid gap-5">
    <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="WTD" asp-action="Index">50 Ways To Die</a>
    <a class="btn btn-outline-dark btn-lg .btn-block" href="https://www.youtube.com/@@LetsDoEverythingYT">YouTube</a>
    <a class="btn btn-outline-dark btn-lg btn-block" href="https://www.google.com/search?tbm=isch&as_q=air+conditioners&tbs=isz:lt,islt:4mp,sur:fmc">OnlyFans</a>
    <a class="btn btn-outline-dark btn-lg btn-block" href="">&nbsp;</a>

    <br /><br />
</div>
