@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To my internet.</p>
</div>
<br /><br />
<div id="AllTheLinksFitToMuck" class="container d-grid gap-5">
    <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="WTD" asp-action="Index">50 Ways To Die (mario maker game)</a>
    <a class="btn btn-outline-dark btn-lg .btn-block" href="https://www.youtube.com/@@LetsDoEverythingYT">YouTube</a>
    <a class="btn btn-outline-dark btn-lg btn-block" asp-controller="redman" asp-action="Index">Redman</a>
    <a class="btn btn-outline-dark btn-lg btn-block" href="">&nbsp;</a>
    <a class="btn btn-outline-dark btn-lg btn-block" href="">&nbsp;</a>

    <br /><br />
</div>
