<div>
I had an idea for a similar but different game.
<br />
The tracker tells you what to die to next.
<br />
Generates a list, but only shows the top item.
<br />
If player has not checked off the death within X minutes then it moves to the next entry.
<br />
First to Y deaths wins.
<br />
Obv you'd want to remove the super rare deaths, like porcupuffer.
    <br /><br /><br />

</div>

Coming soon / eventually / after multirace normal queue